<h1><%= @restaurant.name %> - Menus</h1>

<ul class="restaurant-list">
    <% if @restaurant.menu %>
      <li class="restaurant-card">
        <h2 class="restaurant-name"><%= @restaurant.menu.name %></h2>
        <% @restaurant.menu.dishes.each do |dish| %>
          <p class="dish-name"><%= dish.name %></p>
          <p class="dish-price"><%= number_to_currency(dish.price, unit: '€', format: "%n %u") %></p>
        <% end %>
      </li>
    <% else %>
      <li class="no-menu">No menu available for <%= @restaurant.name %></li>
  <% end %>
</ul>


<%= link_to 'Edit Menu', edit_restaurant_menu_path(@restaurant, @menu), class: 'button' %>
