<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Index</title>
</head>
<body class="index">
  <h1>Lista de Restaurantes</h1>

  <div class="restaurant-list">
    <% @restaurants.each do |restaurant| %>
      <div class="restaurant-card">
        <%= link_to restaurant_menus_path(restaurant), class: 'restaurant-link' do %>
          <h2 class="restaurant-name"><%= restaurant.name %></h2>
          <p class="restaurant-address"><%= restaurant.address %></p>
          <p class="restaurant-city"><%= restaurant.city %></p>
        <% end %>
      </div>
    <% end %>
  </div>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Adicionar Restaurante', new_restaurant_path(@restaurant), class: 'button' %>
<% end %>
</body>
</html>
