<h1><%= @restaurant.name %></h1>

<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>City:</strong> <%= @restaurant.city %></p>

<h2>Menus</h2>
<div class="menu">
  <ul>
    <% if @restaurant.menu %>
      <li class="menu-item">
        <%= link_to @restaurant.menu.name, restaurant_menu_path(@restaurant, @restaurant.menu) %>
      </li>
    <% else %>
      <li class="no-menu">No menu available</li>
    <% end %>
  </ul>
</div>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant), class: 'button' %>
<% end %>
<%= link_to 'Back to Restaurants', restaurants_path, class: 'button' %>
