<!DOCTYPE html>
<html>
  <head>
    <title>DiRiasApp</title>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'Admin Dashboard', admin_dashboard_path, class: 'button' %>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'restaurants', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
